<!-- <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">JWT Auth System</a>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
  </nav> -->

  <nav class="nav nav-pills" style="text-align:right; font-size:30px;">
    <a class="nav-link disabled" href="#"><b>JWT Auth System</b></a>
    <a class="nav-link active" (click)="onLogout()"href="#"><strong>Logout</strong></a>

  </nav>
  
  <div class="card m-5" style="width:18rem" *ngIf="userDetails">
    <ul class="list-group">
      <li class="list-group-item"><strong>Username : </strong>{{userDetails.userName}}</li>
      <li class="list-group-item"><strong>FullName : </strong>{{userDetails.fullName}}</li>
      <li class="list-group-item"><strong>Email : </strong>{{userDetails.email}}</li>
    </ul>
  </div>